/* Variables */

:root {
  --basic: #ffffff;
  --basic-light: rgba(256, 256, 256, 0.3);
  --basic-extra: #81b3d2;
  --basic-extra-accent: rgba(0, 0, 0, 0.3);
  --basic-extra-light: #eeeeee;
  --basic-neutral: #f2f2f2;
  --main-text: #000000;
  --text-light: #666666;
  --additional: #333333;
  --accent: #ffffff;
  --navigation-aiming: #81b3d2;
  --navigation-aiming-accent: rgba(0, 0, 0, 0.3);
  --navigation-aiming-light: rgba(0, 0, 0, 0.3);
  --navigation-active: #766357;
  --checkbox-accent: rgba(248, 250, 250, 0.289);
  --range-shadow: rgba(248, 250, 250, 0.289);
  --range-shadow-light: rgba(248, 250, 250, 0.289);
  --blocked: #6a6a6a;
  --shadow-light: rgba(0, 1, 1, 0.15);
  --rating-light: rgba(0, 0, 0, 0.3);
  --find-rest: #81b3d2;
  --find-aiming: #669ec0;
  --find-aiming-light: rgba(255, 255, 255, 0.3);
  --find-pressing: #5496bd;
  --find-pressing-light: rgba(160, 205, 233, 0.7);
  --search-rest: #766357;
  --search-aiming: #604e43;
  --search-aiming-light: rgba(0, 1, 1, 0.15);
  --search-pressing: #503e33;
  --small-button: #a9a9a9;
  --copyright: #bdbbbc;
  --aiming: #ebebeb;
  --focus-light: #e5e5e5;
  --shadow: #dbdbdb;
  --accent-pen: #ababab;
  --range-controls-light: rgba(255, 255, 255, 0.3);
  --transparency-light: rgba(255, 255, 255, 0.9);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  background-color: var(--basic-extra-light);
}

/*global*/

.main-body {
  position: relative;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-text);
  text-transform: uppercase;
  background-color: var(--basic);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 0 30px 10px var(--shadow);
}

a {
  text-decoration: none;
}

/* Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  position: absolute;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 56px;
}

.site-navigation a {
  color: var(--main-text);
}

.nav-item {
  width: 240px;
  text-align: center;
  padding-top: 14px;
  padding-left: 4.5px;
  box-sizing: border-box;
}

.site-navigation a:hover {
  color: var(--navigation-aiming);
}

.site-navigation a:active {
  color: var(--navigation-aiming-light);
}

.photo-video {
  padding-right: 7.5px;
  margin-right: 265px;
}

.state-map {
  padding-left: 18px;
}

.hotels {
  padding-left: 10px;
}

/*features*/

.features-introduction {
  text-align: center;
}

.header-background {
  width: 1200px;
  height: 509px;
  background-image: url(../img/shape.svg), url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-position: bottom -1px center;
}

.welcome-title {
  padding: 41px 340px 54px 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-title h1{
  margin: 0 0 44px;
}

.welcome-title p {
  margin: 0;
}

.features h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.feature-item h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item p,
.feature-item span {
  font-size: 14px;
  line-height: 21px;
}

.features-introduction p {
  font-size: 14px;
  line-height: 26px;
  color: var(--additional);
}

.welcom {
  margin-top: 76px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.uniqueness {
  padding: 45px 40px 46px;
  color: var(--accent);
  background-color: var(--basic-extra);
}

.uniqueness h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 26px;
}

.uniqueness span,
.uniqueness p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: var(--accent);
}

.reason-number {
  margin: 0 0 26px;
}

.list-advantages {
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic);
  list-style: none;
}

.list-advantages h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 5px;
}

.list-advantages p {
  margin: 0
}

.devil-bridge {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bridge {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.bridge h2 {
  padding-top: 5px;
}

.photo-bridge {
  grid-column: 1/2;
}

.list-advantages li {
  margin: 51px 0;
  padding: 84px 50px 32px;
}

.house {
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position:  50% 4%;;
}

.food {
  top: 5px;
  background-image: url(../img/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 4%;
}

.gift {
  background-image: url(../img/gift.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.feature {
  flex-basis: 22%;
  text-align: center;
  margin: 0;
  padding: 47px 68px 60px;
  background: var(--basic-extra-light);
}

.feature h2 {
  margin: 0 0 25px;
}

.feature p {
  margin: 0;
}

/* best-deals */

.best-deals-forstay {
  padding: 47px 316px 0;
  text-align: center;
}

.best-deals h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 0 33px;
  padding-right: 9px;
  padding-top: 2px;
}

.best-deals p {
  font-size: 14px;
  line-height: 24px;
  color: var(--additional);
  margin: 0 0 43.5px;
}

/*button form*/

.search {
  position: absolute;
  width: 458px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--main-text);
  background-color: var(--basic);
  padding: 55px;
  box-shadow: 0px 7px 15px var(--shadow-light);
}

.form-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-element-small {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.colortext {
  padding: 11px 6px;
  text-transform: uppercase;
  font-weight: bold;
  color:  var(--main-text);
}

.form-element-small .colortext {
  text-align: center;
  width: 30px;
}

.input-block {
  width: 288px;
  padding: 11px 45px 10px 15px;
  margin-left: auto;
}

.adults {
  margin-left: 38px;
}

.children {
  margin-left: 24px;
}

.minus {
  margin-bottom: 3px;
}

.best-deals-button {
  width: 568px;
  height: 86px;
  font: inherit;
  text-align: center;
  color: var(--accent);
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 30px 124px 30px 125px;
  background-color: var(--search-rest);
  border: none;
}

.best-deals-button:hover {
  background-color: var(--search-aiming);
}

.best-deals-button:active {
  color:  var(--search-aiming-light);
  background-color: var(--search-pressing);
}

.colortext:hover {
  background-color: var(--aiming);
}

.colortext:focus {
  background-color: var(--basic);
  outline: 2px solid var(--focus-light);
  outline-offset: -2px;
}

.calendar {
  position: absolute;
  right: 60px;
  background: transparent;
  border: none;
}

.small-button {
  width: 38px;
  height: 38px;
  padding: 6px;
  background-color: var(--basic-neutral);
  border: none;
}

.calendar:hover svg>*{
  fill: var(--main-text);
}

.calendar:active svg>*{
  fill: var(--basic-extra);
}

.small-button:hover svg>*{
  fill: var(--main-text);
}

.small-button:active svg>*{
  fill: var(--basic-extra);
}

.best-deals input {
  background-color: var(--basic-neutral);
  border: none;
}

.button {
  width: 458px;
  height: 58px;
  font: inherit;
  text-align: center;
  color: var(--accent);
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--find-rest);
  border: none;
}

.button:hover {
  background-color: var(--find-aiming);
}

.button:active {
  color: var(--find-aiming-light);
  background-color: var(--find-pressing);
}

/* main footer */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  min-height: 130px;
}

.index {
  opacity: 0.9;
  margin-top: -121px;
  background: var(--transparency-light);
}

.contacts {
  padding: 23px 36px 10px 153px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts-visit {
  margin: 0 0 9px;
}

.contacts-phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 150px;
  margin: 0 auto;
  padding: 0 60px 40px 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--find-rest);
}

.social-button:hover {
  background-color: var(--find-aiming);
}

.social-button:active {
  background-color: var(--find-pressing);
}

.social-button:focus path {
  fill:var(--find-pressing-light);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 131px;
}

.copyright p {
  padding-bottom: 12px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.link-academy {
  padding-left: 15px;
  padding-bottom: 4px;
}

.link-academy:hover path {
  fill: var(--basic-extra);
}

.link-academy:focus path {
  fill: var(--copyright);
}

.map {
  width: 1200px;
  height: 594px;
  background-color: var(--basic-extra);
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
}

/* catalog */

.legend {
  min-height: 217px;
  color: var(--accent);
  background-image: url(../img/background2.jpg);
  background-color: var(--basic-extra);
  background-size: cover;
  background-repeat: no-repeat;
}

.legend fieldset {
  margin: 0;
  border: none;
}

.legend-search {
  margin-bottom: 26.5px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.legend-list {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  list-style: none;
}

/* filter */

.filter-option {
  margin-bottom: 23px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label::before {
  outline: 3px solid var(--checkbox-accent);
}

.cost-day {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  width: 317px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid var(--basic);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  margin-top: 5px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-light);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background: var(--basic);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: var(--accent-pen);
  border: 8px solid var(--basic);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-shadow);
  cursor: pointer;
}

.range-toggle:hover {
  position: absolute;
  top: -10px;
  width: 5px;
  height: 5px;
  background: var(--accent-pen);
  border: 9px solid var(--basic);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-shadow-light);
  cursor: pointer;
}

.range-toggle-min:focus {
  outline: 5px solid var(--main-text);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.show-list {
  display: block;
  margin-left: 86px;
  padding: 6.5px 33px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.show-list:hover,
.show-list:focus {
  color: var(--main-text);
  background: var(--basic);
}

/* sort */

.sort h2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sort p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort ul {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.price {
  margin-left: 40px;
}

.price a{
  color: var(--navigation-aiming);
}

.price a:hover::after {
  color: var(--basic-extra);
  position: absolute;
  content: "";
  left: 0;
  top: 17px;
  width: 52px;
  height: 1px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price a:active {
  color: var(--main-text);
}

.type a {
  color: var(--rating-light);
}

.type a::after {
  position: absolute;
  content: "";
  left: -1px;
  top: 17px;
  width: 52px;
  height: 1px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.type a:hover {
  color: var(--basic-extra);
}

.type a:hover::after {
  position: absolute;
  content: "";
  left: -1px;
  top: 17px;
  width: 52px;
  height: 1px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.type a:active {
  color: var(--main-text);
}

.rating a {
  color: var(--rating-light);
}

.rating a::after{
  position: absolute;
  content: "";
  left: -1px;
  top: 17px;
  width: 75px;
  height: 1px;
  background-image: url(../img/line.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.rating a:hover {
  color: var(--basic-extra);
}

.rating a:hover::after {
  position: absolute;
  content: "";
  left: -1px;
  top: 17px;
  width: 75px;
  height: 1px;
  background-image: url(../img/line.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
}

.rating a:active {
  color: var(--main-text);
}

.sort-up {
  margin-right: 10px;
}

.sort-up:hover path,
.sort-bottom:hover path {
  fill: var(--main-text);
}

.sort-up:focus path,
.sort-bottom:focus path {
  fill: var(--navigation-aiming);
}

/* offers */

.list-offers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card h3 a {
  display: block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--main-text);
}

.card h3 a:hover {
  color: var(--navigation-aiming);
}

.card h3 a:active {
  color: var(--navigation-aiming-accent);
}

/*detailed*/

.detailed-information {
  font-weight: bold;
  font-size: 14px;
  height: 21px;
  padding: 5px 16px 5px 16px;
  color: var(--basic);
  background: var(--find-rest);
}

.detailed-information:hover {
  color: var(--basic);
  background: var(--find-aiming);
}

.detailed-information:active {
  color: var(--basic-ligh);
  background: var(--find-pressing);
}

/*reservation*/

.reservation {
  font-weight: bold;
  font-size: 14px;
  height: 21px;
  padding: 5px 16px 5px 16px;
  color: var(--basic);
  background: var(--search-rest);
}

.reservation:hover {
  color: var(--basic);
  background: var(--search-aiming);
}

.reservation:active {
  color: var(--basic-light);
  background: var(--search-pressing);
}

.star {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.star li {
  padding-left: 5px;
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;
  color: var(--text-light);
  text-align: center;
  margin: 0;
  padding: 3px 14px;
  background-color: var(--basic-neutral);
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 26px 5px 10px;
}

.infrastructure{
  padding: 0 55px 0 65px;
}

.section-prices {
  width: 485px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 140px;
}

.show {
  margin: 32px 80px 0 90px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding: 7px 73px 12px 73px;
}

.results-sorting {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-left: 50px;
  margin-right: auto;
}

.criterion-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  align-self: center;
}

.criterion-list li {
  position: relative;
  margin-right: 32px;
}

.result-arrow-wrapper{
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.card-product {
  display: flex;
  justify-content: flex-start;
  padding: 30px 71px 30px 73px;
  border-top: 1px solid var(--focus-light);
}

.card-product:last-child {
  border-bottom: 1px solid var(--focus-light);
}

.content-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.name-hotel {
  margin-top: -24px;
}

.item-subwrapper {
  display: flex;
  justify-content: flex-start;
}

.item-subwrapper p {
  line-height: 6px;
  color: var(--additional);
  margin: 0 0 25px;
}

.cost-hotel:first-child {
  margin-right: 6px;
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.modal {
	display: none;
  animation: bounce 0.6s;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

/* Animations */

@keyframes bounce {
	0% {
		transform: translateY(-100%);
    opacity: 0;
	}
	70% {
		opacity: 0.3;
	}
	100% {
		transform: translateY(0);
    opacity: 1;
	}
}
